/* html {
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
} */

body {
    background: rebeccapurple;
    font-family: 'Inter', sans-serif;
}

.container{
    background-color: #F2F2F2;
    border: 1px solid #979797;
    box-shadow: 10px 22px 24px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 560px;
    height: 794px;
    top: 112px;
    left: 62px;
}

h1 {
    font-weight: 300;
    font-size: 23px;
    color: white;
    background-color: #2F3676;
}

h1 span{
    font-weight: bold;
    font-size: 24px;
    background-color: #2F3676;
}

p{
    font-size: 18px;
    color: #071723;
}

label {
    font-size: 14px;
    color: #071723;
}

button {
    background-color: #2F3676;
    cursor: pointer;
    border-radius: 7px;
    height: 37px;
    width: 133px;
    /* left: 0px;
    top: 0px; */

    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

box {
    background-color:#DDE3E9;
    border: 1px solid #2F3676;
    font-family: 'Inter', sans-serif;
    
    font-size: 18px;
    border-radius: 4px;
    height: 37px;
    width: 133px;
}

button:hover {
    background-color: #191847;
}

.wrapper{
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group label {
    padding-left: 10px;
    cursor: pointer;
}

.checkbox1 {
    appearance: none;
    background: #2F3676;
    width: 30px;
    height: 30px;
    outline: none;
    border: 2px solid #2F3676;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.checkbox1:before {
    content: '';
    position: absolute;
    height: 12px;
    width: 7px;
    opacity: 0;
    transition: all 100ms ease-in-out;

    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
    top: 2px;
}

.checkbox1:checked:before {
    opacity: 1;
}
.checkbox1:focus {
    box-shadow: 0 0 5px #2F3676;
}
.checkbox1:hover {
    background-color: #191847;
    cursor: pointer;
}







/* observacao {
    background: #DDE3E9;
border: 1px solid #2F3676;
border-radius: 4px;

border: 1px solid red;

}

enviar {


} */



