/* html {
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
} */

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: white;
    background-color: #2F3676;

}

p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #071723;
}

label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #071723;
}

button {
    background-color: #2F3676;
    cursor: pointer;
    border-radius: 7px;
    height: 37px;
    width: 133px;
    /* left: 0px;
    top: 0px; */

    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

box {
    background-color:#DDE3E9;
    border: 1px solid #2F3676;
    font-family: 'Inter', sans-serif;
    
    font-size: 18px;
    border-radius: 4px;
    height: 37px;
    width: 133px;
}

button:hover {
    background-color: #191847;
}





/* input[type="checkbox"] {
    display: none;
}

label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 10px;
    cursor: pointer;
}

label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #2F3676;
    border: 2px solid #2F3676;
}

input[type="checkbox"]:checked + label::before {
    background-color: #2F3676;
}

label::after {
    content: "\2713";  código Unicode para o caractere check 
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 1px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    visibility: hidden;
}

input[type="checkbox"]:checked + label::after {
    visibility: visible;
} */
